body{
    width: 100%;
    height: 100%;
}

.col-md-4{
    height: 200px;
    line-height: 200px;

    text-align: center;
    

}

.col-md-4  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.mybio{
 background-color: #ddd;
}

.mybio:hover,
.myphoto:hover,
.myeducation:hover,
.contactme:hover,
.hobbies:hover
{
    background-color: rgb(236, 109, 109);
   }

.myphoto{
    background-color: rgb(0, 140, 255);

}

.myeducation{
    background-color: rgb(177, 179, 180);

}

.contactme{
    background-color: rgb(243, 168, 138);

}

.hobbies{
    background-color: rgb(160, 175, 211);

}


.topnav {
    overflow: hidden;
    background-color: rgb(252, 4, 219);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(3, 51, 13);
    color: #fff;
  }
  
  .topnav a.active {
    background-color: #1305dd;
    color: white;
  }